/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
}
.logoNav {
  height: 50px;
  width: 50px;
}
.logo{
  height: 10%;
  width: 10%;
}